
.newspaper {
    column-count: 5;
    column-gap: 25px;
    column-rule: 1px solid lightblue;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


    .topnav{
    position: sticky;
    color: rgb(8,1,17);
background-color: rgb(95, 121, 206);
height: 15%;
border-block: linen;

}

.headerright{
    text-align right: 
    font-size: 150%;

    color:lightseagreen
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: url("images\IMG_1456.JPG");
    background-color: #b92d38;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

